div.calendar{
    display: inline-block;
    margin: 2%;
    text-align: center;
}

div.calendar, hr{
    color: #00328d;
}

h1.selected_year{
    text-align: center;
    color: #00328d;
}

table.calendar{
    height: 200px;
}

th {
  color: #9494d0;
}

td{
    color: black;
}

/* Table cells style */
td{
    width: 30px;
}

td.day{
    border: white 1px solid;
    background-color: #d0e5f6;
}

td.rest_day{
    background-color: #9494d0;
    color: white;
}

td.event_day{
    background-color: #af0534;
}
td.day:hover{
    border: #af0534 1px solid;
}

/* -------------------- */
/*    Modal Form    */
.div-create-event{
  display: none;
  align-items: center;
  justify-content: center;
}

.inner {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background: black;
      opacity: 0.5;

}

#modal-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

div#form-wrapper{

}

#modal-background{
  z-index: -1;
}



.event_form {
  width: 300px;
}

.event_creator{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.form-wrapper{
  position: relative;
  background-color: white;
  border-radius: 3%;
  border: 3px #9494d0 dashed;
}

.form-wrapper * {
  margin: 0;
}

.form-header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 70px;
  background-color: #9494d0;
  color: white;
  text-align: left;
  border-radius: 3% 3% 0 0;

}

h2#event-creation{
  background-color: #9494d0;
}

.form-body{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.input-el{
  border: 1px #DCDCDC solid;
  text-align: center;
}

div.input-el input[type=text], div.input-el input[type=date], div.input-el textarea{
  width: 250px;
  height: 30px;
  margin: 3%;
  outline-color: #DCDCDC;
}

div.input-el textarea{
  width: 260px;
  height: 80px;
  padding: 1px;
  resize: none;
}

.form-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: #F5F5F5;
  border-radius: 3%;
  border-top: 1px solid #DCDCDC;
}

button {
  border: 0;
}

button#event-creation-submit{
  width: 50%;
  background-color: #9494d0;
  color: white;
  padding: 3%;
  border-radius: 3%;
  text-transform: uppercase;
  border: 1px #9494d0 solid;
}

button#event-creation-submit:hover{
  background-color: white;
  color: #9494d0;
}




/*FOR ANOTHER CALENDAR*/
/* css for calendar */
.b-calendar {
    font: 14px/1.2 Arial, sans-serif;
    background: #f9f9f9;
}
.b-calendar--along {
    width: 300px;
    padding: 30px 40px;
    margin: 50px auto;
}
.b-calendar--many {
    padding: 20px;
    width: 250px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 20px;
}

span{
    font-size: 16pt;
}

.b-calendar__title {
    text-align: center;
    margin: 0 0 20px;
}
.b-calendar__year {
    font-weight: bold;
    color: #333;
}
.b-calendar__tb {
    width: 100%;
}
.b-calendar__head {
    font: bold 14px/1.2 Arial, sans-serif;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #c0c0c0;
}
.b-calendar__np {
    padding: 5px;
}
.b-calendar__day {
    font: 14px/1.2 Arial, sans-serif;
    padding: 8px 5px;
    text-align: left;
}
.b-calendar__weekend {
    color: red;
}

td div{
    text-align: center;
}

td.b-calendar__day:hover{
    background-color: #ccc;
    cursor: pointer;
}

.t {
    background-color: red;
}

.db_date{
    background-color: black;
}

div.options{
    position: fixed;
    background-color: #cccccc;
    top:0;
    left:0;
    border-bottom-right-radius: 10px;
    display: inline;
}
